

























































































































































































































































































































































































































































































































































































































*{
    padding: 0;
    margin: 0;
    font-family: inter;
    font-size: 18px;
    
}
a{
    color: #263238;
}
footer{
    background: linear-gradient(#FFE5E585,#F5FFFE85,#FCF3FF85,#FFF4E585);
    display: flex;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.top-container{
margin-bottom: 20px;
}
.mid-container{
   
        display: flex;

}
.mid-container div{
    /* width: 33%; */
    width: 500px;
}
.mid-container .p-1{
    width: 310px;
    height: 75px;
}
.images{
    display: flex;
    gap: 50px;
    padding-top: 40px;

}
.images img{
    width: 44px;
    height: 44px;
    gap: 50px;
}
.mid-children-2 p{
    padding: 2%;
}

.mid-children-2 h2{
    color: #2EC4B6;
    padding-bottom: 20px;
}

.mid-children-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mid-children-3 div{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.mid-children-3 h2{
        color: #2EC4B6;
    padding-bottom: 20px;
}
.bot-container{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.bot-container p{
    font-size: 18px;
}
span{
    color: #2EC4B6;
}

.children2{
    display: flex;
    flex-direction: column;
    gap: 20px
    ;
}

.children2 img{
    width: 100px;
    height: 100px;
}

.children2 div{
    display: flex;
    flex-direction: column;
    gap: 10PX;
}

.children2 div P{
    font-size: 12px;
}

.last{
    color: #E71D36;
    font-size: 10px;
    position: relative;
}

.bot-container a{
    color: #2EC4B6;
}

.last::before{
    width: 10px;
    height: 10px;
    background-color: red;
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;    

}

@media(max-width:992px) {
    .mid-container {
flex-direction: column;
    }
    .bot-container {
        flex-direction: column;
            }
            .bot-container p{
                font-size: 12px;
            }
        
}